body {
  /*background-color: #DDE3EA;*/
  /*background-color: #E2E1E0;*/
  /*background-color: #FFFFFF;*/
  /*background: #DDE6EB;*/
  /*background: #455A64;*/
  /*color: #8E979D;*/
  background: #EFF1F4;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: light;
}

.navbar ul, .navbar li {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #474B54;
  color: #FFFFFF;
}

.navbar-nav {
  list-style: none;
  height: 50px;

}

.navbar-nav li {
  display: inline-block;
  /*margin: 0 15px;*/
  padding: 14px;
}

.navbar-nav li.active {
  border-bottom: 3px solid #03A9F4;
}

h2 {
  margin: 0;
}

#intro-card {
  padding: 150px 50px;
  text-align: center;
  font-weight: lighter;
}

#intro-card * {
  font-weight: inherit;
}

@media only screen and (min-width: 992px) {
  #intro-card {
    height: 366px;
  }
  #links-card {
    height: 366px;
  }
}

.section-header {
  border-bottom: 2px solid #7E7E7E;
  text-align: center;
  padding: 10px;
  margin: 15px 0;
}
