<div class="row">
  <div class="col-md-8">
    <div class="card card-1" id="intro-card">
      <h2>Hi! I'm Arpit. Thank you for visiting this new personal website of mine.</h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-1" id="links-card">
      <h2 class="text-center card-header">Links</h2>
      <a class="row personal-link" href="https://github.com/arpitshah101">
        <div class="col-sm-4 text-right">
          <img src="/images/ironcat.png" width=65px height=65px alt="">
        </div>
        <div class="col-sm-8">
          <span class="link-text">GitHub</span>
        </div>
      </a>
      <a class="row personal-link" href="https://www.linkedin.com/in/arpitshah101">
        <div class="col-sm-4 text-right">
          <img src="/images/linkedin_circle.png" width=65px height=65px alt="" />
        </div>
        <div class="col-sm-8">
          <span class="link-text">LinkedIn</span>
        </div>
      </a>
      <a class="row personal-link" href="https://medium.com/@drstark101">
        <div class="col-sm-4 text-right">
          <img src="/images/medium-icon.png" width=65px height=65px alt="" />
        </div>
        <div class="col-sm-8">
          <span class="link-text">Medium</span>
        </div>
      </a>
    </div>
  </div>
</div>
