<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="personal-desc">
  <style>
    :host {
      color: #424242;
      font-size: 18px;
      font-weight: 300;
      height: 500px;
      display: table;
      width: 100%;
      height: 100%;
      margin-top: -49px;
    }
    div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
    div ::content > :first-child {
      font-size: 28px;
      font-weight: 400;
    }
    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  </style>
  <template>
    <div>
      <content></content>
    </div>

  </template>
  <script>
    Polymer({
      is: 'personal-desc'
    });
  </script>
</dom-module>
