<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id='target-scroller'>
  <style>
    :host {
      cursor: pointer;
    }
  </style>
  <template>
    <img src="/images/down-arrow.png" alt="" width="{{size}}" height="{{size}}" on-click="scrollToTarget">
  </template>
  <script>
    Polymer({
      is : 'target-scroller',
      properties : {
        targetId: String,
        size: {
          type: Number,
          value: "75"
        }
      },
      scrollToTarget : function(){
        var elem = document.body, style = "scrollTop", unit = "", from = 0, to = document.getElementById(this.targetId).offsetTop, time= 2000, prop = true;
        if( !elem) return;
        var start = new Date().getTime(),
        timer = setInterval(function() {
          var step = Math.min(1,(new Date().getTime()-start)/time);
          if (prop) {
            elem[style] = (from+step*(to-from))+unit;
          } else {
            elem.style[style] = (from+step*(to-from))+unit;
          }
          if( step == 1) clearInterval(timer);
        },25);
        elem.style[style] = from+unit;
      }
    });
  </script>
</dom-module>
