<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="vl-navbar">
  <style>
    .vl-navbar {
      padding: 15px;
      text-align: right;
    }
    :host {
      color: #424242;
      font-weight: 400;
    }
  </style>
  <template>
    <div class="container">
      <content></content>
    </div>
  </template>
  <script>
    Polymer({
      is: 'vl-navbar'
    });
  </script>
</dom-module>

<dom-module id="vl-navlink">
  <style>
    a:hover {
      background-color: #212121;
      color: #EEEEEE;
    }
    a {
      margin: 0 15px;
      padding: 5px 10px;
      border-radius: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
    }
  </style>
  <template>
    <a href="{{dest}}"><content></content></a>
  </template>
  <script>
    Polymer({
      is: 'vl-navlink',
      properties: {
        dest: String
      }
    });
  </script>
</dom-module>
