<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="vl-resume">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'vl-resume'

    });
  </script>
</dom-module>

<dom-module id="vl-resume-section">
  <style>
    :host {
      display: block;
      border-top: 2px solid #E0E0E0;
    }
    .section-title {
      font-weight: 400;
    }

    @media (max-width: 991px) {
      :host {
        padding: 0 20px 0 20px;
      }

    }
  </style>
  <template>
    <h2 class="section-title">{{ sectionTitle }}</h2>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'vl-resume-section',
      properties: {
        sectionTitle: String
      }
    });
  </script>
</dom-module>

<dom-module id="vl-resume-row">
  <style>
    :host {
      display: block;
      margin: 20px 0;
    }
    @media (max-width: 991px) {
      :host {
        margin: 40px 0;
      }
    }
  </style>
  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'vl-resume-row'
    });
  </script>
</dom-module>

<dom-module id="vl-resume-col">
  <style>
    :host {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
    }

    @media (min-width: 992px) {
      :host.col-1 {
        width: 9.8%;
      }
      :host.col-2 {
        width: 19.8%;
      }
      :host.col-3 {
        width: 29.8%;
      }
      :host.col-4 {
        width: 39.8%;
      }
      :host.col-5 {
        width: 49.8%;
      }
      :host.col-6 {
        width: 59.8%;
      }
      :host.col-7 {
        width: 69.8%;
      }
      :host.col-8 {
        width: 79.8%;
      }
      :host.col-9 {
        width: 89.8%;
      }
      :host.col-10 {
        width: 99.8%;
      }
    }

    @media (max-width: 991px) {
      :host ::content .description {
        display: none;
      }

      :host ::content .position-title {
        font-weight: 300;
        margin-top: 0;
      }
      :host {
        display: block;
      }
    }

  </style>
  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is: 'vl-resume-col',
      properties: {
        colSize: String
      },
      ready: function(){
        this.toggleClass('col-'+ this.colSize, true);
      }
    });
  </script>
</dom-module>
